<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>React SSR Template</title>
    </head>
    <body>
        <div id="root"><%- component %></div>
        <script src="<%= clientBundleJS %>"></script>
    </body>
</html>
